.add_todo__container {
    .header {
        display: flex;
        justify-content: flex-end;

        span {
            font-size: 30px;
            color: var(--bs-primary);
            margin: 10px;
            cursor: pointer;
        }
    }
}
