.signin_form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .auth_alert__container {
        position: absolute;
        top: 3vw;
        width: 40vw;
    }

    .signin_form__container {
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .alertText {
            color: var(--bs-danger) !important;
        }

        .successText {
            color: var(--bs-success) !important;
        }
    }

    .signin_button {
        background: var(--bs-primary);
        color: var(--bs-white);
        border-radius: 5px;
        cursor: pointer;
    }

    .signin_loading {
        padding: 5px 47px;
    }

    .signin_success {
        padding: 10.5px 38.43px;
    }

    .route_link__footer {
        margin-top: 30px;

        span {
            font-weight: 700;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 350px) {
    .signin_form {
        .signin_form__container {
            width: 100vw;
        }
    }
}
