@import './scss/ToDo/index.scss';
@import './scss/Auth/index.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader__screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
